.LastOperationInfo {
    /*margin-left: -1rem;*/
    border: none;
    outline: none;
    cursor: none;
    width: 20.938rem;
    height: 3.063rem;
    background-color: var(--dark-background);
    color: var(--gray);
    /* Font */
    font-family: "Work Sans Font";
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 2.938rem;
    text-align: right;

}