.mathOperationGrid {
    grid-area: 1 / 4 / 6 / 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;

}

.mathOperationGrid > div:nth-child(1) {
    margin-top: 1rem;
}