/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}


:root {
    /*Colors*/
    --dark: #2E2F38;
    --gray: #4E505F;
    --blue: #4B5EFC;
    --white: #FFFFFF;
    /* Backgrounds*/
    --dark-background: #17171C
}

.App {
    font-family: "Work Sans", sans-serif;
    background-color: var(--dark-background);
    height: 37.563rem;
    width: 20.938rem;
    margin: 0, auto;
    /*display: flex;*/
    /*flex-flow: column;*/
}

